{% if not item.product.is_unique %}
    <form class="form update-form" method="POST"
        action="{% url 'adjust_bag' item.item_id %}"
        id="qty-form">
        {% csrf_token %}
        <input class="form-control form-control-sm" type="number"
            name="quantity" value="{{ item.quantity }}" min="0" 
            {% if item.product.is_unique %}
                max="1"
            {% else %}
                max="10"
            {% endif %}
            data-item_id="{{ item.item_id }}"
            id="id_qty_{{ item.item_id }}">
        </div>
    </form>
    <a class="update-link text-info  float-left"><small>Update</small></a>
{% else %}
    1
{% endif %}

<a class="remove-item text-danger float-right ml-1" 
    id="remove_{{ item.item_id }}"><small>Remove</small>
</a>