{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% load i18n %}

{% block page_header %}
    {% include "includes/page_header.html" with title="Contact Me" subtitle="" %}
{% endblock %}

{% block head_title %}{% trans "Contact Us" %}{% endblock %}

{% block content %}
<div class="overlay"></div>

<div class="col-12 col-sm-10 offset-sm-1 mb-4">
    <div class="row">
        <!-- Column with contact form -->
        <div class="col-md-8 offset-md-2">
            <div class="card mb-4">
                <div class="card-body">
                    <h2 class="mb-3">{% trans "Your message:" %}</h2>
                    <div>
                        <form class="signup" id="contact_form" method="post">
                        {% csrf_token %}
                        {{ form | crispy }}
                        <button class="btn btn-outline-black corners px-1 py-1 px-2" type="submit">{% trans "Send" %}</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
