{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">

            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100">
            <div class="col my-auto text-center align-self-center">
                <div class="transbox d-flex align-items-center align-self-center">

                    <div class='container'>
                        {% if posts|length > 0 %}
                            <!-- Headline with posts marked as 'highlight' -->
                            <h2 class="text-uppercase d-block d-lg-none text-black mb-2">
                                Monika Curto Fuentes
                            </h2>
                            {% for post in posts %}
                                <h3>
                                    <a href="{% url 'post_detail' post.slug  %}">
                                        {{ post.title }}
                                    </a>
                                </h3>
                                <hr class="hr-middle-light">
                            {% endfor %}
                        {% else %}
                            <!-- Default headline when highlights not existent -->
                            <h1 class="display-4 logo-font">
                                Monika Curto Fuentes
                            </h1>
                            <hr class="hr-middle">
                        {% endif %}

                        <a href="{% url 'testimonials' %}" class="text-dark">
                            About Me
                        </a>
                        
                    </div>
                </div>
                <div class="my-5">
                    <h4>
                        <a href="{% url 'products' %}?available=True" 
                            class="shop-now-button btn btn-lg rounded-0 text-uppercase text-white py-3">
                                Shop now
                        </a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}

    <script type="text/javascript">

        // Set background image uploaded by user on Admin panel
        $(document).ready(function() {
            var img = "{{ background_image.background_image.url }}";
            if (img)
                $("body").css({"background-image": "url(" + img + ")"});
        });

    </script>

{% endblock %}