{% extends "base.html" %}
{% load static %}

{% block page_header %}
    {% include "includes/page_header.html" with title="Testimonial" subtitle="Thank you for sharing!" %}
{% endblock %}

{% block content %}
    <div class="overlay"></div>

        <div class="container mb-4 col-12 col-md-10 offset-md-1">

            <div class="row">
                <div class="col">

                    <!-- Post -->
                    <div class="card px-2 py-3">
                        <h4 class="card-title ml-3">{{ testimonial.title }}</h4>
                        <p class="card-text text-muted h6 ml-3">
                            {{ testimonial.author.get_full_name|default:testimonial.author.username }} 
                            | {{ testimonial.created_on | date:"d F Y" }}

                            {% if not testimonial.live %}
                                    |
                                    <span class="text-danger">
                                        Awaiting approval
                                    </span>
                            {% endif %}
                        </p>
                        <div class="card-body">
                            <div class="col-12">
                                <p class="card-text mb-2">{{testimonial.content|safe }}</p>
                            </div>
                            
                            <!-- Superuser section -->
                            {% if request.user.is_staff %}
                                <div class="text-center">
                                    <small>
                                        <a href="{% url 'testimonial_edit' testimonial.id %}"  class="mr-1">Edit</a>
                                        <a href="{% url 'testimonial_delete' testimonial.id %}" class="text-danger">Delete</a>
                                    </small>
                                </div>
                            {% endif %}

                            <div class="text-center my-3">
                                <a href="{% url 'testimonials' %}"
                                    class="btn btn-outline-black corners px-1 py-1">
                                    <span class="text-uppercase mx-1">Testimonials</span>
                                </a>
                            </div>                            

                        </a>
                    </div>

                </div>
            </div>

            <!-- Back to page top button -->
            <div class="btt-button shadow-sm corners border border-black d-block d-md-none">
                <a class="btt-link d-flex h-100">
                    <i class="fas fa-arrow-up text-black mx-auto my-auto"></i>
                </a>
            </div>

        </div>
    </div>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
    {% include "includes/back-to-top-button.html" %}
{% endblock %} 