<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="availability-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Availability
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="availability-link">
                <a href="" class="dropdown-item">Available</a>
                <a href="" class="dropdown-item">Sold</a>
                <a href="{% url 'products' %}" class="dropdown-item">* All Items *</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="orientation-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Orientation
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="orientation-link">
                <a href="" class="dropdown-item">Landscape</a>
                <a href="" class="dropdown-item">Portrait</a>
                <a href="{% url 'products' %}" class="dropdown-item">* All Items *</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="category-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Category
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="category-link">
                <a href="" class="dropdown-item">Life</a>
                <a href="" class="dropdown-item">Abstract</a>
                <a href="" class="dropdown-item">Prints</a>
                <a href="" class="dropdown-item">Calendars</a>
                <a href="" class="dropdown-item">Postcards</a>
                <a href="{% url 'products' %}" class="dropdown-item">* All Items *</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="price-order-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Price
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="price-order-link">
                <a href="" class="dropdown-item">&#8599; Ascending</a>
                <a href="" class="dropdown-item">&#8600; Descending</a>
            </div>
        </li>

    </ul>
</div>