<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">

        <li class="nav-item d-block d-lg-none">
            <a href="{% url 'home' %}" class="logo-font font-weight-bold nav-link text-black mx-2" id="home-link">Home</a>
        </li>

        <li class="nav-item">
            <a href="{% url 'products' %}" class="logo-font font-weight-bold nav-link text-black mx-2" id="all-products-link">Gallery</a>
        </li>
        

        <div class="dropdown d-none">
            <a id="dLabel" role="button" data-toggle="dropdown" class="logo-font font-weight-bold nav-link text-black mx-2" data-target="#" href="#">
                Filter by...
            </a>
            <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                <li class="divider"></li>
                <li class="dropdown-submenu">
                    <a tabindex="-1" href="#">
                        Availability
                    </a>
                    <ul class="dropdown-menu">
                        <li><a tabindex="-1" href="{% url 'products' %}?available=True">Available</a></li>
                        <li><a tabindex="-1" href="{% url 'products' %}?live=True&available=False">Not available</a></li>
                    </ul>
                </li>
                <li class="divider"></li>
                <li class="dropdown-submenu">
                    <a tabindex="-1" href="#">
                        Category
                    </a>
                    <ul class="dropdown-menu">
                        <!-- 
                        <li><a tabindex="-1" href="{% url 'products' %}?category=calendar">Calendars</a></li>
                        <li><a tabindex="-1" href="{% url 'products' %}?category=drawing">Drawings</a></li>
                        <li><a tabindex="-1" href="{% url 'products' %}?category=painting">Paintings</a></li>
                        <li><a tabindex="-1" href="{% url 'products' %}?category=postcard">Postcards</a></li>
                        <li><a tabindex="-1" href="{% url 'products' %}?category=print">Prints</a></li> -->
                        {% for cat in categories %}
                            <li><a tabindex="-1" class="text-capitalize" href="{% url 'products' %}?category={{ cat }}">{{ cat }}s</a></li>
                        {% endfor %}
                        <li class="divider"></li>
                    </ul>
                </li>
                <li class="divider"></li>
            </ul>
        </div>

        <li class="nav-item">
            <a href="{% url 'blog' %}" class="logo-font font-weight-bold nav-link text-black mx-2" id="blog-link">Blog</a>
        </li>

        <li class="nav-item">
            <a href="{% url 'testimonials' %}" class="logo-font font-weight-bold nav-link text-black mx-2" id="testimonials-link">Testimonials</a>
        </li>

        <li class="nav-item">
            <a href="{% url 'testimonials' %}" 
                class="logo-font font-weight-bold nav-link text-black mx-2">
            </a>
        </li>

    </ul>
</div>