<div class="list-inline-item top-nav">

    <!-- Mobile search -->
    <a class="text-black nav-link d-block d-lg-none" href="#" id="mobile-search" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <div class="text-center">
            <div><i class="fas fa-search fa-lg"></i></div>
            <p class="my-0">Search</p>
        </div>
    </a>

    <!-- Search box -->
    <div class="dropdown-menu border-0 w-100 p-3 corners my-0" aria-labelledby="mobile-search">
        <form class="form" method="GET" action="{% url 'products' %}">
            <div class="input-group w-100">
                <label for="search-input" hidden>Search</label>
                <input class="form-control border border-custom corners" type="text" name="q" placeholder="Search our site" id="search-input">
                <div class="input-group-append">
                    <button class="form-control form-control btn btn-black border border-custom corners" type="submit">
                        <span class="icon">
                            <i class="fas fa-search"></i>
                            <span hidden>Search</span>
                        </span>
                    </button>
                </div>
            </div>
        </form>
    </div>

</div>

<!-- My Account link -->
<div class="d-block d-lg-none">
    <div class="list-inline-item dropdown top-nav">
        <a class="text-black nav-link" href="#" id="account-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <div class="text-center">
                <div><i class="far fa-user-circle"></i></div>
                <p class="my-0">
                    {% if request.user.is_authenticated %}
                        {% if user.first_name %}
                            {{ user.first_name }}
                        {% else %}
                            {{ user }}
                        {% endif %}
                    {% else %}
                        My Account
                    {% endif %}
                </p>
            </div>
        </a>
        <div class="dropdown-menu border-0" aria-labelledby="account-options">
            {% if request.user.is_authenticated %}
                {% if request.user.is_staff %}
                    <a href="{% url 'add_product' %}" class="dropdown-item">Product Management</a>
                    <a href="{% url 'post_add' %}" class="dropdown-item">Blog / Highlights</a>
                    <a href="{% url 'testimonial_add' %}" class="dropdown-item">About / Testimonials</a>
                    {% endif %}
                {% if request.user.is_staff == False %}
                    <a href="{% url 'testimonial_add' %}" class="dropdown-item">Share my experience</a>
                {% endif %}
                <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
                <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
            {% else %}
                <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
            {% endif %}
        </div>
    </div>
</div>

<!-- Bag link -->
<div class="d-block d-lg-none">
    {% include 'includes/bag-link.html' %}
</div>