<li class="list-inline-item">
    <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-black{% endif %} nav-link" href="{% url 'view_bag' %}">
        <div class="text-center">
            <div><i class="fas fa-shopping-basket"></i></div>
            <p class="my-0">
                {% if grand_total %}
                    &euro;{{ grand_total|floatformat:2 }}
                {% else %}
                    &euro;0.00
                {% endif %}
            </p>
        </div>                                
    </a>
</li>