<div class="col-md-4 float-right ">
    {% for post in post_list %}
        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title">{{ post.title }}</h5>
                <p class="card-text text-muted h6">
                    {{ post.author.first_name }} | {{ post.created_on}}
                </p>
                <!-- <p class="card-text">slug: {{ post.slug }}</p> -->
                <p class="card-text">
                    {{post.content|slice:":200"|safe }}
                </p>
                <a href="{% url 'post_detail' post.slug  %}"
                    class="btn btn-outline-black rounded-0 px-1 py-1">
                    <span class="text-uppercase mx-1">Read more</span>
                    <span class="icon">
                        <i class="fas fa-chevron-right"></i>
                    </span>
                </a>
            </div>
        </div>
    {% endfor %}
</div>