{% extends "base.html" %}
{% load static %}

{% block page_header %}
    {% include "includes/page_header.html" with title="Blog" subtitle="" %}
{% endblock %}

{% block content %}
    <div class="overlay"></div>

    <div class="container mb-4 col-12 col-md-10 offset-md-1">

        <div class="row">
            <div class="col">
                {% if post_list|length > 0 %}

                    <!-- Blog -->
                    {% for post in post_list %}
                        <div class="card mb-4">
                            <div class="card-body">
                                <h5 class="card-title">{{ post.title }}</h5>
                                <p class="card-text text-muted h6">
                                    {{ post.author.get_full_name|default:post.author.username }} | {{ post.created_on | date:"d F Y"}}
                                </p>
                                <p class="card-text">
                                    {{post.content|stringformat:".200s"|safe }}
                                    {% if post.content|length > 200 %}
                                        ...
                                    {% endif %}
                                </p>

                                <!-- Superuser section -->
                                {% if request.user.is_staff %}
                                <div class="text-center">
                                    <small>
                                        <a href="{% url 'post_edit' post.slug %}"  class="mr-1">Edit</a>
                                        <a href="{% url 'post_delete' post.slug %}" class="text-danger">Delete</a>
                                    </small>
                                </div>
                                {% endif %}

                                <a href="{% url 'post_detail' post.slug  %}"
                                    class="btn btn-outline-black rounded-0 px-1 py-1">
                                    <span class="text-uppercase mx-1">Read more</span>
                                    <span class="icon">
                                        <i class="fas fa-chevron-right"></i>
                                    </span>
                                </a>
                            </div>
                        </div>
                    {% endfor %}

                    <!-- Back to page top button -->
                    <div class="btt-button shadow-sm rounded-0 border border-black d-block d-md-none">
                        <a class="btt-link d-flex h-100">
                            <i class="fas fa-arrow-up text-black mx-auto my-auto"></i>
                        </a>
                    </div>

                {% else %}
                    <p class="lead mb-5">Blog is currently empty.</p>
                    <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 btn-lg">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span class="text-uppercase">Gallery</span>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}

{% block postloadjs %}
{{ block.super }}

    <script type="text/javascript">

        // Back to page top button script
        $('.btt-link').click(function(e) {
            window.scrollTo(0,0)
        })

    </script>

{% endblock %}