{% extends "base.html" %}
{% load static %}

{% block page_header %}
    {% include "includes/page_header.html" with title="Blog / Highlights" subtitle="Edit Post" %}
{% endblock %}

{% block content %}
    <div class="overlay"></div>

    <div class="container">
        <div class="row">
            <div class="col-12 col-md-10 offset-md-1">
                <form method="POST" action="{% url 'post_edit' post.slug %}" class="form mb-2" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in form %}
                        {% if field.name != 'image' %}
                            {{ field | as_crispy_field }}
                        {% else %}
                            {{ field }}
                        {% endif %}
                    {% endfor %}
                    <div class="text-right">
                        <a class="btn btn-outline-black corners" href="{% url 'post_detail' post.slug %}">Cancel</a>
                        <a href="{% url 'post_delete' post.slug %}" class="btn btn-danger  float-start corners">Delete</a>
                        <button class="btn btn-black corners" type="submit">Update Post</button>
                    </div>
                </form>
            </div>            
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    {% include "includes/image-button.html" %}
{% endblock %}