{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col-12 text-center">
                <hr>
                <h2>
                    <!-- Show if items are searched from searchbox -->
                    {% if search_term %}
                        {% if products|length == 0 %}
                            No
                        {% else %}
                            {{ products|length }} 
                        {% endif %}
                        item{% if products|length != 1 %}s {% endif %} 
                        found for <strong>{{ search_term }}</strong>

                    <!-- Show if items are filtered by availability --> 
                    {% elif current_availability %}
                        {% if available == "True" %}
                            Items available
                        {% else %}
                            Items not available
                        {% endif %}

                    <!-- Show if items are filtered by orientation --> 
                    {% elif current_orientations %}
                        {{ orientation }}s

                    <!-- Show if items are filtered by categories -->
                    {% elif current_categories %}
                        {% for c in current_categories %}
                            <a href="{% url 'products' %}?category={{ c.name }}">
                                {{ c.friendly_name }}
                            </a>
                        {% endfor %}
                    {% else %}
                        Gallery
                    {% endif %}
                </h2>
                <hr class="mb-3">
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container-fluid">
        <div class="row">

            <div class="col">
                <div class="product-container">

                </div>
                <div class="row">
                    {% for product in products %}
                        {% if product.live or request.user.is_staff %}
                            {% if products|length < 3 %}
                                <div class="col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3 mb-3">
                            {% else %}
                                <div class="col-md-4 col-xl-3 mb-3">
                            {% endif %}
                                <div class="card h-100">

                                    <!-- Product image -->
                                    {% if product.image %}
                                        <a href="{% url 'product_detail' product.id %}">
                                            <img src="{{ product.image.url }}" alt="{{ product.title }}" class="card-img-top img-fluid">
                                        </a>
                                    {% else %}
                                        <a href="{% url 'product_detail' product.id %}">
                                            <img src="{{ MEDIA_URL }}placeholder.jpg" alt="{{ product.title }}" class="card-image-top img-fluid">
                                        </a>
                                    {% endif %}
                                    
                                    <!-- Product description -->
                                    <div class="card-body text-center">
                                        <a href="{% url 'product_detail' product.id %}">
                                            <p class="mb-0 font-weight-bold h5">{{ product.title }}</p>
                                        </a>
                                        <hr class="hr-middle">
                                        <p class="mb-0">{{ product.excerpt }}</p>

                                        {% if request.user.is_staff and not product.live %}
                                            <small>
                                                <a href="{% url 'edit_product' product.id %}"  class="mr-1">
                                                    <span class="text-danger">
                                                        Product is not live
                                                    </span>
                                                </a>
                                            </small>
                                        {% endif %}

                                    </div>

                                    <!-- Superuser section -->
                                    {% if request.user.is_staff %}
                                        <div class="text-center">
                                            <small>
                                                <a href="{% url 'edit_product' product.id %}"  class="mr-1">Edit</a>
                                                <a href="{% url 'delete_product' product.id %}" class="text-danger">Delete</a>
                                            </small>
                                        </div>
                                    {% endif %}
                                    
                                    <!-- Product price & add to basket link -->
                                    <div class="card-footer">
                                        <div class="row">
                                            <div class="col">
                                                <hr>
                                                {% if product.available and product.price %}
                                                    <p class="float-left">
                                                        <i class="fas fa-tag mr-1 text-muted"></i>
                                                        &euro;{{ product.price }}
                                                    </p>
                                                    <a href="{% url 'product_detail' product.id %}">
                                                        <p class="float-right">
                                                            Show details
                                                            <i class="fas fa-info-circle ml-1 text-muted"></i>
                                                        </p>
                                                    </a>
                                                {% elif product.available and not product.price %}
                                                    <p class="text-center">
                                                        Please enquire about price
                                                    </p>
                                                {% else %}
                                                    <p class="text-center">
                                                        Item is not available for sale
                                                    </p>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>

                            <!-- Back to page top button -->
                            <div class="btt-button shadow-sm corners border border-black d-block d-md-none">
                                <a class="btt-link d-flex h-100">
                                    <i class="fa fa-chevron-up text-black mx-auto my-auto"></i>
                                </a>
                            </div>

                        {% endif %}
                    {% endfor %}
                </div>
            </div>

        </div>

        <!-- Availability buttons -->
        <div class="row d-none d-sm-block">
            <div class="row mt-3 mb-5 justify-content-center">
                <a href="{% url 'products' %}?available=True"
                    class="btn btn-outline-black corners px-1 py-1 mx-2">
                    <span class="icon">
                        <i class="fas fa-check"></i>
                    </span>
                    <span class="text-uppercase mx-1">Show Available</span>
                </a>
                
                <a href="{% url 'products' %}?available=False"
                    class="btn btn-outline-black corners px-1 py-1 mx-2">
                    <span class="text-uppercase mx-1">Show Unavailable</span>
                    <span class="icon">
                        <i class="fas fa-times"></i>
                    </span>
                </a>
            </div>
        </div>

    </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
    {% include "includes/back-to-top-button.html" %}
{% endblock %}