{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">

            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container-fluid">
        <div class="row">
            
            <div class="col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3 mt-3">

                <!-- Segment image -->
                <div class="image-container text-center">
                {% if product.image %}
                    <a href="{{ product.image.url }}" target="_blank">
                        <img src="{{ product.image.url }}" alt="{{ product.name }}" class="card-img-top img-fluid">
                    </a>
                {% else %}
                    <img src="{{ MEDIA_URL }}placeholder.jpg" alt="{{ product.name }}" class="card-img-top img-fluid">
                {% endif %}
                </div>

                <!-- Product title & excerpt -->
                <div class="card-body text-center">
                    <h2 class="mb-0 font-weight-bold">{{ product.title }}</h2>
                    <hr class="hr-middle">
                    <p class="mb-0">{{ product.excerpt }}</p>
                </div>

                <!-- Product details -->
                <div class="card-footer">
                    <div class="row mb-5">
                        <div class="col">

                            <p class="description">
                                {{ product.description }}
                            </p>
                            <!-- Superuser section -->
                            {% if request.user.is_superuser %}
                                <div class="text-center">
                                    <small>
                                        <a href="{% url 'edit_product' product.id %}"  class="mr-1">Edit</a>
                                        <a href="{% url 'delete_product' product.id %}" class="text-danger">Delete</a>
                                    </small>
                                </div>
                            {% endif %}
                            <hr class="mt-1">
                            
                            <!-- Product price & add to basket link -->
                            {% if product.available and product.price %}
                                <p class="float-left">
                                    <i class="fas fa-tag mr-1 text-muted"></i>
                                    &euro;{{ product.price }}
                                </p>
                                <div class="col-5 float-right">
                                    <form class="form" action="{% url 'add_to_bag' product.id %}" method="POST">
                                        {% csrf_token %}
                                        <div>
                                            <p class="text-right">
                                                {% if product_is_in_bag and product.is_unique %}
                                                    <!-- Show if item is unique and already is in basket -->
                                                    Item is in your <a href="{% url 'view_bag' %}">bag</a> 
                                                {% else %}
                                                    <!-- Show if item is not unique or is unique but is not in basket -->
                                                    <input type="submit" value="Add to Bag" class="btn-outline-black">
                                                    <i class="fas fa-shopping-basket float-right mt-1 ml-2"></i>
                                                {% endif %}
                                            </p>
                                            
                                        </div>

                                        <!-- Show quantity input form only for non-unique items -->
                                        <div class="mt-2" {% if product.is_unique %}hidden{% endif %}>
                                            <span class="float-left">
                                                <label for="quantity" class="mt-2 mr-2">Quantity:</label>
                                            </span>
                                            <span class="float-right">
                                                <input class="form-control qty_input" type="number" 
                                                    name="quantity" value="1" min="1" max="10" 
                                                    data-item_id="{{ product.id }}" 
                                                    id="id_qty_{{ product.id }}">
                                            </span>
                                        </div>

                                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                    </form>
                                </div>    
                            {% elif product.available and not product.price %}
                                <p class="text-center">
                                    Please enquire about price
                                </p>
                            {% else %}
                                <p class="text-center">
                                    Item is not available for sale
                                </p>
                            {% endif %}

                    </div>
                </div>

                <div class="text-center">
                    <hr class="w-50 font-black mb-1">
                    <a href="{% url 'products' %}">
                        <p>Continue shopping</p>
                    </a>
                </div>

            </div>

        </div>
    </div>
{% endblock %}

