{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">

            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container-fluid">
        <div class="row">

            <!-- Segment summary -->
            <div class="col-12 text-center mt-5">
                <h2>
                    <!-- Show if items are searched from searchbox -->
                    {% if search_term %}
                        {{ products|length }} item{% if products|length != 1 %}s {% endif %} found for <strong>{{ search_term }}</strong>

                    <!-- Show if items are filtered by availability TODO --> 
                    {% elif current_availability %}
                        {{ products|length }} item{% if products|length != 1 %}s {% endif %} found

                    <!-- Show if items are filtered by orientation --> 
                    {% elif current_orientations %}
                        {{ products|length }} item{% if products|length != 1 %}s {% endif %} found                      

                    <!-- Show if items are filtered by categories -->
                    {% elif current_categories %}
                        {% for c in current_categories %}
                            <a href="{% url 'products' %}?category={{ c.name }}">
                                {{ c.friendly_name }}s
                            </a>
                        {% endfor %}

                    {% else %}
                        All items
                    {% endif %}
                </h2>
                <hr class="mb-3">
            </div>

        
            
            <!-- Segment content -->
            <div class="col">
                <div class="product-container">

                </div>
                <div class="row">
                    {% for product in products %}
                        {% if product.live %}
                            <div class="col-md-4 col-xl-3 mb-3">
                                <div class="card h-100">

                                    <!-- Product image -->
                                    {% if product.image %}
                                        <a href="{% url 'product_detail' product.id %}">
                                            <img src="{{ product.image.url }}" alt="{{ product.title }}" class="card-img-top img-fluid">
                                        </a>
                                    {% else %}
                                        <a href="{% url 'product_detail' product.id %}">
                                            <img src="{{ MEDIA_URL }}placeholder.jpg" alt="{{ product.title }}" class="card-image-top img-fluid">
                                        </a>
                                    {% endif %}
                                    
                                    <!-- Product description -->
                                    <div class="card-body text-center">
                                        <a href="{% url 'product_detail' product.id %}">
                                            <p class="mb-0 font-weight-bold">{{ product.title }}</p>
                                        </a>
                                        <hr class="hr-middle">
                                        <p class="mb-0">{{ product.excerpt }}</p>
                                    </div>
                                    
                                    <!-- Product price & add to basket link -->
                                    {% if product.price %}
                                        <div class="card-footer">
                                            <div class="row">
                                                <div class="col">
                                                    <hr>
                                                    {% if product.available %}
                                                    <p class="float-left">
                                                        <i class="fas fa-tag mr-1 text-muted"></i>
                                                        &euro;{{ product.price }}
                                                    </p>
                                                    {% else %}
                                                        <p class="text-center">
                                                            Item is not available
                                                        </p>
                                                    {% endif %}
                                                    <a href="{% url 'product_detail' product.id %}" {% if not product.available %}hidden{% endif %}>
                                                        <p class="float-right">
                                                            Add to bag
                                                            <i class="fas fa-shopping-basket ml-1"></i>
                                                        </p>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %} 
                                    
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>

        </div>
    </div>
{% endblock %}

